.container{
    text-align:center;

    margin: 0 auto;
}

.title{
    text-align:center;

}

.addTask{
    margin: 0 auto;
    margin-top:5%;
    text-align:center;

}

.todoList{
    width:100%;
    text-align:center;
    margin:10px;
}

.deleteTask{
    cursor:pointer
}

.uploadCsv{
    width:30%;
    margin: 0 auto;
    margin-top:2%;

}